h4 {
    color: darkgrey;
}

div.answer {
    margin-left: 20px;
}

form {
    margin-left: 10%;
    margin-right: 10%;
}

.miserable-image-text {
    background-image: url("/static/images/MARS-2-7.png");
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 150px;
}

.heading {
    text-align: center;
}

.centered {
    margin-inline: 20%;
}