h4 {
    color: darkgrey;
}

div.answer {
    margin-left: 20px;
}

form {
    margin-left: 10%;
    margin-right: 10%;
}

.miserable-image-text {
    position: relative;
}

.miserable-image-text::before {
    content: "";
    background-image: url("/static/images/MARS-2-7.png");
    position: absolute;
    left: 50px;
    top: 50px;
}